<!-- Toolbar -->
<div class="toolbar-container">
  <ul class="menu-bar">
    <li (click)="homeNavigate()">
      <mat-icon aria-hidden="false" aria-label="Home icon" fontIcon="home" class="toolbar-icon"></mat-icon>
      Inicio
    </li>
    <li (click)="champsNavigate()">
      <mat-icon aria-hidden="false" aria-label="Home icon" fontIcon="stars" class="toolbar-icon"></mat-icon>
      Campeones
    </li>
  </ul>
</div>



<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
