.card {
  width: 100%;
  height: auto;
  position: relative;
  display: flex;
  place-content: center;
  place-items: center;
  overflow: hidden;
  border-radius: 20px;
}
.card-content{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.card video{
  z-index: 1;
  padding: 5px;
}
#lol-banner{
  width: 70%;
  height: auto;
}
* {
  box-sizing: border-box;
}

body {
  background: var(--gradient-1);
  display: grid;
  place-items: center;
  min-height: 100vh;
}
.card::before {
  content: '';
  position: absolute;
  width: 100%;
  background-image: linear-gradient(180deg, #E5D487, #947538);
  height: 130%;
  animation: rotBGimg 10s linear infinite;
  transition: all 1s linear;
}
@keyframes rotBGimg {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
.card::after {
  content: '';
  position: absolute;
  ;
  inset: 5px;
  border-radius: 15px;
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-tap-highlight-color: transparent;
}

button {
  margin-top: 25px;
  width: 140px;
  height: auto;
  padding: 10px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  color: black;
  background: linear-gradient(180deg, #E5D487, #947538);
  border: 2px solid black;
  box-shadow: 5px 5px 0 black,
    -5px -5px 0 black,
    -5px 5px 0 black,
    5px -5px 0 black;
  transition: 500ms ease-in-out;
}

button:hover {
  box-shadow: 20px 5px 0 black, -20px -5px 0 black;
}

button:focus {
  outline: none;
}

.champions-section{
  width: 100%;
}

.champions-section-title{
  margin-top: 30px;
  margin-bottom: 15px;
  text-align: center;
  width: 100%;
}

.champions-section-title img{
  max-width: 100%;
  padding: 10px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin : auto;
  width  : auto;
}

menu {
  border-radius : 3px;
  padding: 0;
}

menu:after , menu:before {
  display : block;
  content : ' ';
}

menu:after {
  clear : both;
}

li {
  list-style-type : none;
  background      : linear-gradient(180deg, #E5D487, #947538);

  float   : left;
  cursor  : pointer;
  padding : 2px 8px;
  border-top    : 2px solid #E5D487;
  border-bottom : 2px solid #947538;
}

li:first-child {
  border-radius : 5px 0 0 5px;
}

li:last-child {
  border-radius : 0 5px 5px 0;
}

@media (max-width: 500px) {
  a {
    display : block;
    padding : 1px 2px;
    font-size : 25px;
    text-decoration : none;
    border-radius   : 5px;
    position        : relative;
    top   : 0;
    color : black;
    transition : all .4s;
  }
  a svg{
    width: 22px;
    height: auto;
  }
}

@media (min-width: 501px) {
  a {
    display : block;
    padding : 5px 5px;
    font-size : 35px;
    text-decoration : none;
    border-radius   : 5px;
    position        : relative;
    top   : 0;
    color : black;
    transition : all .4s;
  }
  a svg{
    width: 30px;
    height: auto;

  }
}

li:hover a {
  top   : -20px;
  color : #E5D487;
  background-color: black;
  box-shadow : 0 0 5px 0 black;
  transition : all .4s;
}

li a:after {
  display  : block;
  content  : '';
  position : absolute;
  top  : 100%;
  left : 42%;
  border-style : solid;
  border-color : transparent;
  border-width : 5px 5px 0 5px;
  transition   : all .4s;
}

li:hover a:after {
  border-color : white transparent transparent transparent;
  transition   : all .4s;
}

.selected {
  top   : -20px;
  color : #E5D487;
  background-color: black;
  box-shadow : 0 0 5px 0 black;
  transition : all .4s;
}

.selected:after {
  border-color : white transparent transparent transparent;
  transition   : all .4s;
}

a.fun {
  display : none;
}

.default-champs-container{
  margin-bottom: 15px;
  text-align: center;
  width: 100%;
}

.default-champs-container .assassin{
  background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" fill="rgba(20, 20, 20, 0.15)"><path d="M56.59 73.71l1.67-2.88c5.75-9.34 5.51-16 3.83-20.59a39.78 39.78 0 01-9.1 16 2 2 0 01-1.43.48H48.2a2.17 2.17 0 01-1.67-.72 39.78 39.78 0 01-9.1-16c-1.68 4.55-1.68 11.26 3.83 20.59l1.68 2.88-3.36 5.75 10.06 17.72L59.7 79.22z"></path><path d="M73.11 38.74c-3.35-4.31-6-10-6-18.91 0-4.07-3.59-8.15-7.66-12-4.79-4.31-5.75-5.74-9.58-5.74s-4.79 1.43-9.34 5.74c-4.07 3.83-7.66 7.91-7.66 12 0 8.86-2.88 14.6-6 18.68L12.76 52.87 2.23 45.69v12.93S2.47 84 39.58 97.89c0 0-14.13-7.18-16.28-31.13-.24-1.67-.24-9.1-.24-10.29A119.77 119.77 0 0036.71 74c-.72-1.2-1.44-2.64-2.16-3.83-5-10.54-4.07-18.2-1.67-23.47a22.77 22.77 0 017.42-8.86l9.58 9.58 9.58-9.58a22.77 22.77 0 017.42 8.86c2.4 5.27 3.59 12.93-1.43 23.23-.72 1.38-1.45 2.58-2.16 4.07a119.77 119.77 0 0013.65-17.53c0 1.19 0 8.62-.24 10.29-2.39 23.95-16.28 31.13-16.28 31.13C97.53 84 97.77 58.62 97.77 58.62V45.69l-10.53 7.18z"></path></svg>');
  background-repeat: no-repeat;
  background-position: center;
}

.default-champs-title{
  margin-top: 25px;
}

@media (max-width: 800px) {
  .default-champs-container img{
    max-width: 100%;
    padding: 10px;
  }
}

@media (min-width: 801px) {
  .default-champs-container img{
    max-width: 800px;
    padding: 10px;
  }
}

