<div class="detail-container">
  <div class="detail-img">
    <img ngClass='detailImage' src="https://ddragon.leagueoflegends.com/cdn/img/champion/splash/{{championDetails.id}}_0.jpg" alt="{{championDetails.name}}"/>
    <div class="centered">
      <div class="milky">
        {{championDetails.name}}
      </div>
    </div>
  </div>
  <div class="quote-container">
    <div id="ct">
      <div class="corner "id="left_top"></div>
      <div class="corner" id="left_bottom"></div>
      <div class="corner" id="right_top"></div>
      <div class="corner" id="right_bottom"></div>
      <span>Lore</span>
      <blockquote>
        <p><i>&ldquo;{{championDetails.lore}}&rdquo; </i></p>
      </blockquote>
    </div>
  </div>
  <div class="info-container">
    <h1>INFO</h1>
    <div class="info-grid">
      
    </div>
  </div>
  <div class="habilities-container">
    <h1>HABILITIES</h1>
  </div>
  <div class="detail-footer">
    <video src="https://assets.contentstack.io/v3/assets/blt731acb42bb3d1659/bltfa2accf67922dd3a/5f495972a11538653ea58f65/ss2020_lux_sylas_1920x1080.mp4" [autoplay]="true" [muted]="true" [playsInline]="true" [loop]="true" width="100%"></video>
  </div>
</div>

