.detail-img{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 800px) {
  .detail-container{
    margin-top: 80px;
  }
  .detailImage{
    width: 100%;
    height: auto;
  }
}
@media (min-width: 801px) {
  .detailImage{
    width: 100%;
    height: auto;
  }
}
@media (max-width: 900px) {
  .milky {
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;;
    text-transform: uppercase;
    display: block;
    font-size: 60px;
    color: #f1ebe5;
    text-shadow: 0 8px 9px #2c2b2b, 0px -2px 1px #adadad;
    font-weight: bold;
    letter-spacing: -4px;
    text-align: center;
    background: linear-gradient(to bottom, #ece4d9b6 0%,#e9dfd18f 100%);
    position: absolute;
    padding: 50px 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
  }
}
@media (min-width: 901px) {
  .milky {
    font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;;
    text-transform: uppercase;
    display: block;
    font-size: 110px;
    color: #f1ebe5;
    text-shadow: 0 8px 9px #2c2b2b, 0px -2px 1px #adadad;
    font-weight: bold;
    letter-spacing: -4px;
    text-align: center;
    background: linear-gradient(to bottom, #ece4d9b6 0%,#e9dfd18f 100%);
    position: absolute;
    padding: 100px 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 20px;
  }
}
.quote-container{
  width: 100%;
  background:#1D1F20;
  height: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: auto;
}
#ct{height:auto; width:80% ;border:1px solid #f1c40f;margin: 50px auto;text-align:center;position:relative;color:#fff;padding:10px;}
span{
  background:#1D1F20;
  color:#f1c40f;
  padding:0 10px;
  font-size:20px;
  position:relative;
  top:-27px;
}
.corner{height:30px;
  width:30px;
  border-radius:50%;
  border:1px solid #fff;
  transform:rotate(-45deg);
  position:absolute;
  background:#1D1F20;
}

#left_top{
  top:-16px;
  left:-16px;
  border-color:transparent transparent #f1c40f transparent;
}
#right_top{
  top:-16px;
  right:-16px;
  border-color:transparent transparent transparent #f1c40f;
}
#left_bottom{
  bottom:-16px;
  left:-16px;
  border-color:transparent #f1c40f transparent transparent ;
}
#right_bottom{
  bottom:-16px;
  right:-16px;
  border-color:#f1c40f transparent transparent transparent;
}
p{padding-top:5px;font-size:17px}
.detail-footer{
  background-color: #1D1F20;
  text-align: center;
  padding-bottom: 20px;
  width: 100%;
  height: auto;
}
.text-container{
  width: 100%;
  text-align: center;
}
.info-container{
  padding: 20px
}
.info-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}
.card {
  width: 100%;
  height: auto;
  background-color: #292929;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.24);
  border: 2px solid rgba(7, 7, 7, 0.12);
  font-size: 16px;
  transition: all 0.3s ease;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.icon {
  margin: 0;
  width: 100%;
  height: 80px;
  max-width: 80px;
  background: linear-gradient(90deg, #E5D487 0%, #947538 40%, rgba(0, 0, 0, 0.28) 60%);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.8s ease;
  background-position: 0px;
  background-size: 200px;
}

.icon svg {
  fill: #202020;
  height: 100%;
  padding: 10px;
}

.title{
  width: 100%;
  margin: 0;
  text-align: center;
  background: -webkit-linear-gradient(#E5D487, #947538);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.card .title {
  width: 100%;
  margin: 0;
  text-align: center;
  margin-top: 30px;
  color: white;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 4px;
}

.card .text {
  width: 80%;
  margin: 0 auto;
  font-size: 13px;
  text-align: center;
  margin-top: 20px;
  color: white;
  font-weight: 200;
  letter-spacing: 2px;
  opacity: 0;
  max-height: 0;
  transition: all 0.3s ease;
}

.card {
  height: 270px;
}

.card .text {
  transition: all 0.3s ease;
  opacity: 1;
  max-height: 40px;
}
.habilities-container{
  padding: 20px;
  background:#1D1F20;
  color: white;
}
.habilities-container h1{
  margin-bottom: 0;
}
.progress {
  --progress: 0%;
  width: 80%;
  height: 10px;
  border: 1px solid #947538;
  margin-top: 20px;
  padding: auto;
  box-shadow: 0 0 10px #E5D487;
}

.progress .attackbar, .progress .magicbar, .progress .defensebar, .progress .difficultbar {
  width: var(--progress);
  height: 100%;
  background: linear-gradient(#E5D487, gold, #dab367);
  background-repeat: repeat;
  box-shadow: 0 0 10px 0px orange;
  animation:
    shine 8s ease-in infinite,
    end 1s ease-out 1 7s;
  transition: width 3s ease 3s;
}

@property --progress {
  syntax: "<length>";
  initial-value: 0%;
  inherits: true;
}

@keyframes shine {
  0% { background-position: 0 0; }
  100% { background-position: 0 50px; }
}

@keyframes end {
  0%, 100% { box-shadow: 0 0 10px 0px orange; }
  50% { box-shadow: 0 0 15px 5px orange; }
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin : auto;
  width  : auto;
}

menu {
  margin-top: 25px;
  border-radius : 3px;
  padding: 0;
}

menu:after , menu:before {
  display : block;
  content : ' ';
}

menu:after {
  clear : both;
}

li {
  list-style-type : none;
  background      : linear-gradient(180deg, #E5D487, #947538);

  float   : left;
  cursor  : pointer;
  padding : 2px 8px;
  border-top    : 2px solid #E5D487;
  border-bottom : 2px solid #947538;
}

li:first-child {
  border-radius : 5px 0 0 5px;
}

li:last-child {
  border-radius : 0 5px 5px 0;
}

@media (max-width: 500px) {
  a {
    display : block;
    padding : 2px 4px;
    font-size : 30px;
    text-decoration : none;
    border-radius   : 5px;
    position        : relative;
    top   : 0;
    color : black;
    transition : all .4s;
  }
  a img{
    width: 30px;
    height: auto;
  }
}

@media (min-width: 501px) {
  a {
    display : block;
    padding : 5px 5px;
    font-size : 40px;
    text-decoration : none;
    border-radius   : 5px;
    position        : relative;
    top   : 0;
    color : black;
    transition : all .4s;
  }
  a img{
    width: 35px;
    height: auto;

  }
}

li:hover a {
  top   : -20px;
  color : #E5D487;
  background-color: black;
  box-shadow : 0 0 5px 0 black;
  transition : all .4s;
}

li a:after {
  display  : block;
  content  : '';
  position : absolute;
  top  : 100%;
  left : 42%;
  border-style : solid;
  border-color : transparent;
  border-width : 5px 5px 0 5px;
  transition   : all .4s;
}

li:hover a:after {
  border-color : white transparent transparent transparent;
  transition   : all .4s;
}

.selected {
  top   : -20px;
  color : #E5D487;
  background-color: black;
  box-shadow : 0 0 5px 0 black;
  transition : all .4s;
}

.selected:after {
  border-color : white transparent transparent transparent;
  transition   : all .4s;
}

a.fun {
  display : none;
}

.habilities-info{
  margin-top: 20px;
}

@media (max-width: 900px) {
  .habilities-info video{
    width: 90%;
  }
}
@media (min-width: 901px) {
  .habilities-info video{
    width: 50%;
  }
}

.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-tap-highlight-color: transparent;
}

button {
  margin-top: 10px;
  width: 200px;
  height: auto;
  padding: 10px;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  color: black;
  background: linear-gradient(180deg, #E5D487, #947538);
  border: 2px solid black;
  box-shadow: 5px 5px 0 black,
    -5px -5px 0 black,
    -5px 5px 0 black,
    5px -5px 0 black;
  transition: 500ms ease-in-out;
}

button:hover {
  box-shadow: 20px 5px 0 black, -20px -5px 0 black;
}

button:focus {
  outline: none;
}
